/**
 * Logo
 */
#logo {
  display: block;
  height: 50px;
  width: 100%;
  margin: 50px auto;
}
#logo .logo {
  display: inline-block;
  height: 40px;
  margin: 15px;
  position: relative;
}
#logo .logo img {
  display: inline-block;
  height: 100%;
}
#logo .logo:hover img {
  content: url("../img/logo-hover.gif");
}

/**
 * Article
 */
article {
  -webkit-animation: smooth_opacity 0.5s ease-in 0s forwards;
  animation: smooth_opacity 0.5s ease-in 0s forwards;
  width: 70%;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: #000;
  font-size: 14px;
}
article a {
  color: #000;
  text-decoration: none;
}
article header {
  font-weight: lighter;
  text-transform: lowercase;
  margin-bottom: 25px;
}
article header p {
  font-size: 30px;
}
article footer {
  text-transform: lowercase;
  letter-spacing: 1px;
  /*display: flex;*/
  justify-content: right;
  word-spacing: 15px;
  flex-wrap: wrap;
  opacity: 0;
  -webkit-animation: smooth_opacity 0.5s ease-in 0.1s forwards;
  animation: smooth_opacity 0.5s ease-in 0.1s forwards;
  padding: 20px;
}
article footer a {
  line-height: 50px;
  margin: 30px 5px;
  height: 40px;
}

/**
 * RWD
 */
@media only screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  html {
    padding: 0px;
  }
  #logo {
    margin: 0;
    width: auto;
    position: fixed;
    z-index: 999;
    top: 50px;
    left: 50px;
  }
  article {
    text-align: left;
    margin-top: 0px;
    max-width: 1000px;
  }
  article header p {
    font-size: 40px;
  }
  article p {
    font-size: 25px;
    margin: 0 0 15px 0;
  }
  article footer {
    padding: 50px 0 0 0;
  }
  article footer a {
    height: 30px;
    margin: 0 0 0 0px;
  }
  article footer div {
    display: flex;
    justify-content: start;
    /*width: 50%;*/
  }
}

/**
 * Intro animation
 */
@keyframes backgroundscale {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes backgroundscale {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes smooth_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes smooth_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Text selection
 */
*::-moz-selection {
  color: #fff;
  background-color: #f5b2a5;
}
*::selection {
  color: #fff;
  background-color: #f5b2a5;
}
