{% extends '_default/list.html.twig' %}

{% block content %}
      <article class="mx-auto max-w-screen-md prose md:prose-lg lg:prose-xl">
        <h1>Blog</h1>
        {{ page.content }}
        {%- for p in pages ~%}
        <article>
          <ul>
            <li>
              <h2><a href="{{ url(p) }}">{{ p.title|e }}</a></h2>
              {%- set readtime = readtime(p.content) ~%}
              <time>{{ p.date|format_date('long') }}</time> · {% trans %}%readtime% min{% endtrans %}
            </li>
          </ul>
        </article>
        {%- endfor ~%}
        {%~ include 'partials/pagination.html.twig' with {'page': page} only ~%}
      </article>
{% endblock content %}