{% set gif_help_text = "(Passez ou appuyez sur l’image pour jouer l’animation)"|trans %}

{% extends ['page.html.twig', '_default/page.html.twig'] %}

{%- block content ~%}
      <article class="mx-auto max-w-screen-md prose md:prose-lg lg:prose-xl prose-img:mx-auto prose-figcaption:text-center prose-img:mb-1 lg:prose-img:mb-1">
        <header>
          <h1>{{ page.title }}</h1>
          {%- set readtime = readtime(page.content) ~%}
          <time>{{ page.date|format_date('long') }}</time> · {% trans %}%readtime% min{% endtrans ~%}
        </header>
        {{~ page.content ~}}
      </article>
      <script>
        // replaces image by its animated GIF version if exists
        let gifs = document.querySelectorAll('img[data-gif]');
        Array.prototype.forEach.call(gifs, function (item) {
          let figure = item.parentNode;
          let figcaption = figure.getElementsByTagName('figcaption')[0];
          let img = document.createElement('img');
          img.dataset.src = item.dataset.gif;
          figure.firstChild.before(img);
          figcaption.innerHTML += '<br>' + '<em>{{ gif_help_text }}</em>';
          figcaption.getElementsByTagName('em')[0].setAttribute('style', 'font-size: smaller;');
          item.addEventListener('mouseenter', replaceWithGif);
          item.addEventListener('click', replaceWithGif);
          function replaceWithGif(event) {
            figure.firstChild.src = img.dataset.src;
            /*while (figure.childNodes.length > 1) {
              figure.removeChild(figure.lastChild);
            }*/
            figure.removeChild(figure.childNodes[1]);
          };
        });
      </script>
{%- endblock content ~%}

{%- block footer %}{% endblock ~%}