{% extends '_default/page.html.twig' %}

{%- block content ~%}
      <article class="mx-auto max-w-screen-md prose md:prose-lg lg:prose-xl prose-img:mx-auto prose-figcaption:text-center">
        <h1>{{ page.title }}</h1>
        <time>{{ page.date|date("j M Y") }}</time> · {{ readtime(page.content) }} min
        {{- page.content ~}}
      </article>
      <script>
        let gifs = document.querySelectorAll("img[data-gif]");
        Array.prototype.forEach.call(gifs, function (item) {
          item.addEventListener('mouseover', function() {
            let img = document.createElement('img');
            img.src = item.dataset.gif;
            let parent = item.parentNode;
            while (parent.hasChildNodes()) {
                parent.removeChild(parent.lastChild);
            }
            parent.appendChild(img);
          })
        });
      </script>
{%- endblock content ~%}
