{% set gif_help_text = "(Passez ou appuyez sur l’image pour jouer l’animation)"|trans %}

{% extends ['page.html.twig', '_default/page.html.twig'] %}

{%- block content ~%}
      <article class="mx-auto max-w-screen-md prose md:prose-lg lg:prose-xl prose-img:mx-auto prose-figcaption:text-center prose-img:mb-1 lg:prose-img:mb-1">
        <header>
          <h1>{{ page.title }}</h1>
          {%- set readtime = readtime(page.content) ~%}
          <time>{{ page.date|format_date('long') }}</time> · {% trans %}%readtime% min{% endtrans ~%}
        </header>
        {{~ page.content ~}}
      </article>
      <script>{% apply minify_js ~%}
        // replaces image by its animated GIF version if exists

        let gifs = document.querySelectorAll('img[data-gif]');
        Array.prototype.forEach.call(gifs, function (item) {
          let picture = item.parentNode;

          if (picture == null || picture.tagName.toLowerCase() != 'picture') {
            return;
          }

          let figure = picture.parentNode;
          let figcaption = figure.getElementsByTagName('figcaption')[0];
          let imgGif = document.createElement('img');

          function replaceWithGif(event) {
            // remove all children of picture
            while (picture.childNodes.length > 1) {
              picture.removeChild(picture.lastChild);
            }
            // set attributes for the new img element
            imgGif.src = item.dataset.gif;
            imgGif.alt = item.alt;
            imgGif.width = item.width;
            imgGif.height = item.height;
            // insert the new img element in the picture element
            picture.firstChild.before(imgGif);
          };

          figcaption.innerHTML += '<br>' + '<em>{{ gif_help_text }}</em>';
          figcaption.getElementsByTagName('em')[0].setAttribute('style', 'font-size: smaller;');

          item.addEventListener('mouseenter', replaceWithGif);
          item.addEventListener('click', replaceWithGif);
        });
      {% endapply ~%}</script>
{%- endblock content ~%}

{%- block footer %}{% endblock ~%}