---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/blog
  label: Blog
  create: documents
  match: "*"
upload_dir: static/img
public_path: "/img"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - PHP_VERSION=7.2
  - CECIL_VERSION=5.14.6
  preview_output_directory: _site
  install_dependencies_command: bash .forestry/install.sh
  preview_docker_image: phpdocker/phpdocker:7.2
  mount_path: "/usr/src"
  working_dir: "/usr/src"
  instant_preview_command: php cecil.phar serve --host=0.0.0.0 --port=8080 -v -d
