{% extends '_default/page.html.twig' %}

{% block content %}
      <h1>{% trans %}Page non trouvée.{% endtrans %}</h1>
      <p>→ <a href="{{ url(site.home) }}">{% trans %}Accueil{% endtrans %}</a></p>
{% endblock content %}

{% block footer %}{% endblock %}
