{% extends '_default/page.html.twig' %}

{% block header %}
            <header>
              <p>Page not found! ➡️ <a href="/">Home</a></p>
            </header>
{% endblock %}
{% block footer %}{% endblock %}
